# Logs
logs
*.log
npm-debug.log*

# Grunt intermediate storage (http://gruntjs.com/creating-plugins#storing-task-files)
.grunt

# Dependency directories
node_modules
public
typings
build 
# Optional npm cache directory
.npm
info.txt