@import "./theme";

#app-bestbets {}

#top-nav {
    .toolbar-link {
        text-transform: uppercase;
        font-weight: 600;
        font-size: 14px;
        line-height: 2em;
    }
}

#app-container{
    margin-top:85px; 
}

#sports-book-page {

}
@import '../../pages/sportsbooks/sportsbook-table/sportsbook-table-partial'