@import './theme';

html,
body {
	background: #fff;
	font-family: 'Source Sans Pro', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
}

h1,
h2,
h3 {
	font-weight: 600;
}

.small {
	font-size: small !important;
}

a {
	@include hover-link;
	cursor: pointer;
}



.fl {
	float: left;
}

.fr {
	float: right;
}

.bg-black{
	background-color: $black !important;
}

/**
  color: black;
  overflow: hidden;
  background: linear-gradient(to right, black, black 50%, yellow 50%);
  background-clip: text;
**/

.alert-danger,
.alert-success {
	text-align: center;
	margin: auto;
	opacity: 0.4;
}

.fade-enter-active,
.fade-leave-active {
	transition-property: opacity;
	transition-duration: .25s;
}

.fade-enter-active {
	transition-delay: .25s;
}

.fade-enter,
.fade-leave-active {
	opacity: 0;
}

.fade-transition {
	transition: opacity .3s ease;
}

.fade-enter,
.fade-leave {
	opacity: 0;
}