/**
* - include all of our responsive elements here
* - we can import mixins/extends declared in higher order 
*/


// small phone
@media (max-device-width: 320px) {
    @include hide-id-small-media;
}

@media (max-device-width: 575.98px) {

    @include top-nav-mobile-left;
 
    .p-0-mobile {
        padding: 0;
    }

    .col-12-mobile {
        flex: 0 0 100% !important;
        max-width: 100% !important;
    }
    @include sports-book-page;
    @include sports-book-table;
 

} // end @media


// source: `https://css-tricks.com/snippets/css/media-queries-for-standard-devices/`
// mobiles | portrait
 @media only screen 
 and (min-device-width: 320px) 
 and (max-device-width: 667px) 
 and (orientation: portrait) {
    @include top-nav-mobile-left;

    table#sports-book-table {
        tr {

            td:nth-child(2) {
                // compaign_name
                img {
                   max-height: unset !important;
                   width: 90px !important;
                }
            }
        }
    }

    @include hide-show-mobile;

 }

// iphone X
 @media only screen 
 and (min-device-width: 375px) 
 and (max-device-width: 812px) 
 and (orientation: landscape) {
  
     @include top-nav-mobile-left;
     @include hide-show-mobile; 
     // small cross-hair gitch
    //  table#sports-book-table {
    //     @include table-play_button(-16px);
    //  }  
 }

 // mobiles | landscape
 @media only screen 
 and (min-device-width: 568px) 
 and (max-device-width: 736px) 
 and (orientation: landscape) {
  
     @include top-nav-mobile-left;
     @include hide-show-mobile; 
 }

// tablet
@media only screen 
and (min-device-width: 1024px) 
and (max-device-width: 736px) 
and (orientation: landscape) {
 
    @include top-nav-mobile-left;
    @include hide-show-mobile; 
   // @include table-play_button()
}

@media only screen 
and (min-device-width: 768px) 
and (max-device-width: 1024px) 
and (orientation: portrait) 
{
    @include tablet_table-stacked-ofset-tr;
    @include hide-show-ipad; 
    @include top-nav-tablet-left;
    @include sports-book-page-mail-title;
}

@media only screen 
and (min-device-width: 768px) 
and (max-device-width: 1024px) 
and (orientation: landscape) 
{  
    @include tablet_table-stacked-ofset-tr;
    @include hide-show-ipad; 

}


// // Small devices (landscape phones, 576px and up)
// @media (min-width: 576px) and (max-width: 767.98px) { ... }

// // Medium devices (tablets, 768px and up)
// @media (min-width: 768px) and (max-width: 991.98px) { ... }

// // Large devices (desktops, 992px and up)
// @media (min-width: 992px) and (max-width: 1199.98px) { ... }

// // Extra large devices (large desktops, 1200px and up)
// @media (min-width: 1200px) { ... }
