// add compass theme
@import './compass';


/* Color schemes */
// https://bootstrap-vue.js.org/docs/reference/theming/#default-theme-colors
// https://bootstrap-vue.js.org/docs/reference/color-variants/

// Base grayscale colors definitions
$white: #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #484848 !default;
$black: #000 !default;

// Base colors definitions
$blue: #2a42ed !default;
$indigo: #6610f2 !default;
$purple: #6f42c1 !default;
$pink: #e83e8c !default;
$red: #f44337 !default;
$orange: #fd7e14 !default;
$yellow: #fbc02d !default;
$green: #28a745 !default;
$teal: #20c997 !default;
$cyan: #17a2b8 !default;

// Theme color default definitions
$primary: $blue !default;
$secondary: $gray-600 !default;
$success: $green !default;
$info: $cyan !default;
$warning: $yellow !default;
$danger: $red !default;
$light: $gray-100 !default;
$dark: $gray-900 !default;

/// custom colors
$red2:#e21e10;


$theme-colors: () !default;
$theme-colors: map-merge(("primary": $primary, "secondary": $secondary, "success": $success, "info": $info, "warning": $warning, "danger": $danger, "light": $light, "dark": $dark), $theme-colors);


//$enable-shadows: false;
//$enable-gradients: false;
$grid-breakpoints: (xs: 0, sm: 456px, md: 789px, lg: 999px, xl: 1234px);
$bv-enable-table-stacked: true;
