@import "../../libs/styles/theme";

.min-h{
  min-height: 200px;
}
.page-heading{
  #canada-flag {
    background: #fff url("../../../src/libs/img/canada-flag.gif") no-repeat top right;
    background-size:43px;
    display: block;
    height: auto;
    width: 78px;
    position: relative;
    top: 1px;
  }

  div.line {
    margin: 0 auto;

    display: block;
    border-bottom: 3px solid $red;
    width: 80px;
  }

  .title {
    text-transform: uppercase;
    font-weight: 700;
    word-break:initial;
  }
  
}

#view-all {
  text-decoration: underline;
  font-size: 15px;
  font-weight: bold;
}

#sort-alpha {
  text-decoration: underline;
  font-weight: bold;
  font-size: 15px;
  cursor: pointer;
}

#sort-by-cta {
  position: relative;
}


