@import "../../libs/styles/theme";

#canada-flag {
  background: #fff url("../../../src/libs/img/canada-flag.gif") no-repeat top left;
  height: 34px;
  width: 68px;
}

.read_review {
  text-decoration: underline;
  font-weight: bold;
  font-size: 14px;
}
.b-table-stacked{
  .read_review{
    font-size: 13px;
    font-weight:normal;
    color: $gray-600!important;
  }
}


.title {
  text-transform: uppercase;
  font-weight: 700;
}

#view-all {
  text-decoration: underline;
  font-size: 15px;
  font-weight: bold;
}

div.line {
  margin: 0 auto;

  display: block;
  border-bottom: 3px solid $red;
  width: 100px;
}

#sort-alpha {
  text-decoration: underline;
  font-weight: bold;
  font-size: 15px;
}

#sort-by-cta {
  position: relative;
}

.rating-item {
  padding: 1px;
  color: #fbc02d;
  font-size: x-small;
}


.play_message {
  font-size: 14px;
  font-weight: 600;

  svg {
    font-size: 23px !important;
  }
}

.text-message {
  font-size: 17px;
}
