/**
sportsbook-table, partial scss
styles declared here are loaded into `./styles/_main.scss`
 due to some dynamic elements not picked up via component scope
 - script borrows `_theme.css` variables included in `_main.scss`
 - `_responsive.scss` also has some control over this script 
**/

// animation: unstack 0.3s ease-in-out alternate;
// outter div
// table animations
div.table-not-stacked table#sports-book-table {
    overflow: hidden;

    tr {
        transition: all .3s ease-in-out;

        &:hover {
            transform: scale(1.006);
        }

        animation: unstack 0.1s ease-in alternate;
    }

    @keyframes unstack {
        0% {
            width: 220px;
            height: 0px;
            transform: translateY(-60px);
        }

        100% {
            width: 100%;
            height: 60px;
            transform: translateY(60px);
        }
    }
}

@include table-hide-tr-if;
table#sports-book-table {


    overflow: hidden;
    padding-left: 0.5rem;
    padding-right: 0.5rem;

    &.flip-list-move {
        transition: transform 0.3s;
    }

    border-collapse: separate;
    border-spacing: 1em 1em;

    thead {
        display: none;
    }

    .html-message {
        strong.s1 {
            font-weight: 800;
        }

        strong.s2 {
            font-weight: 600;
        }
    }


   
    tr {
        
       position: relative;
       @include funky-table-tr-transitions;

        &:hover {
            transform: scale(1.03);
            a.play_message{
                background-color: $red2!important;
                animation: color_change2 .5s ease-in-out;  
            }
        }

        background: none !important;
        background-color: transparent !important;
        @include _box-shadow();
        @include border-radius(6px); 
        height: 60px;
        width: 100%;

        td {
            
            height: 60px;
            vertical-align: middle;
        }

        td:nth-child(1) {
            // id
            font-size: 18px;
            font-weight: bold;
            max-width: 20px;
            color: $dark !important;
        }

        td:nth-child(2) {
            // compaign_name
            img {
                max-height: 50px;
            }

            max-width: 84px;
        }

        td:nth-child(3) {
            // rating
            max-width: 50px;
        }

        td:nth-child(4) {
            // review_link
            text-align: left;
        }

        td:nth-child(5) {
            // message/html-message
            text-align: right;
        }

        td:nth-child(6) {
            // play_link
            text-align: right;
            max-width: 140px;
        }
    }



    &.b-table-stacked {
        tr {
            height: auto;
            width: 220px;
            float: left;
            text-align: center !important;
            margin: .6em;
            animation: stack 0.1s ease-in-out alternate;
        }

        td {
            text-align: unset !important;
            max-width: unset !important;

            // hides data-lables on stacked mode :)
            &[data-label]:before {
                content: "" !important;
            }

            padding: 0;
        }

        td:nth-child(1) {
            font-size: 26px;
            max-height: 29px;
            text-align: left !important;
        }

        td:nth-child(2) {
            max-height: 36px;
        }

        td:nth-child(3) {
            // rating
            max-height: 33px;
            font-size: 26px;
        }

        td:nth-child(4) {
            max-height: 42px;
        }

        td:nth-child(5) {
            min-height: 70px;
            padding-left: 20px;
            padding-right: 20px;

            // .s1 s2 are generated in SportsBooks component via `formatMessage` method
            .html-message {
                strong.s1 {
                    display: block;
                }

                strong.s2 {}
            }

            > div {
                padding: 0;
                width: 100%;
            }
        }

        td:nth-child(6) {
            min-height: 70px;

            > div {
                padding: 0;
                width: 100%;
            }
        }
    }

    &.table-not-stacked {
        //
   
    }

    
        @keyframes color_change2 {
            from { background-color: $red}
            to { background-color: $red2 }
        }

    @keyframes stack {
        0% {
            width: 100%;
            transform: translateX(50px);
        }

        100% {
            width: 220px;
            transform: translateX(0);
        }
    }
}
