
@import "../../../libs/styles/theme";

.compaign_name_seo{
  cursor: auto!important; 
  
  p.compaign_name_seo_text{
    text-indent: -10000em;
    position: absolute;
    color: #fff;
  }
}

.invisable-table{
  opacity: 0;
}
.read_review {
 text-decoration: underline;
 font-weight: bold;
 font-size: 14px;
}
.b-table-stacked{
 .read_review{
   font-size: 13px;
   font-weight:normal;
   color: $gray-600!important;
 }
}

.rating-item {
 padding: 0px;
 color: #fbc02d;
 font-size: x-small;
}


a.play_message {
 font-size: 14px;
 font-weight: 600;
  // &:hover{
  //   animation: color_change .3s;  
  // }
 svg {
   font-size: 23px !important;
 }
}

.html-message {
 font-size: 17px;
}

// @keyframes color_change {
//   from { background-color: $red}
//   to { background-color: $red2 }
// }