#box-spinner {
 
    transition:all 1s ease-in-out;
       // center position
        width: 130px;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 111;
        right: 0;
        margin: auto;
    
    svg {
        stroke: none;
        fill: #000;// #e21e10;
    }

    .r1 {
        fill: #fff;
    }

    .big {
        transform: scale(5) translate(calc(-9px / 5), calc(-9px / 5));
        transform-origin: 100% 100%;
        transform-box: fill-box;
    }

    .r_ol {
        transform-origin: 0% 0%;
        transform-box: fill-box;
    }

    svg {
        .r_ol {
            animation: small2big 1s ease-in-out infinite;
        }

        .big {
            animation: big2small 1s ease-in-out infinite;
        }

        .r_or {
            animation: or2ol 1s ease-in-out infinite;
        }

        .r_ul {
            animation: ul2ol 1s ease-in-out infinite;
        }

        .g1 {
            animation: rot 4s ease infinite;
        }
    }

    @keyframes or2ol {
        0% {
            transform: scale(1) translate(0);
        }

        25% {
            transform: scale(1) translate(0);
        }

        50% {
            transform: scale(1) translate(-50px, 0);
        }

        50.001% {
            transform: scale(1) translate(0);
        }
    }

    @keyframes ul2ol {
        0% {
            transform: scale(1) translate(0);
        }

        75% {
            transform: scale(1) translate(0);
        }

        100% {
            transform: scale(1) translate(0, -50px);
        }
    }

    @keyframes small2big {
        0% {
            transform: scale(1) translate(0);
        }

        25% {
            transform: scale(5) translate(calc(9px / 5), calc(9px / 5));
        }

        50% {
            transform: scale(5) translate(calc(9px / 5), calc(9px / 5));
        }

        50.001% {
            transform: scale(1) translate(0);
        }

        75% {
            transform: scale(5) translate(calc(9px / 5), calc(9px / 5));
        }

        100% {
            transform: scale(5) translate(calc(9px / 5), calc(9px / 5));
        }
    }

    @keyframes big2small {
        0% {
            transform: scale(5) translate(calc(-9px / 5), calc(-9px / 5));
        }

        25% {
            transform: scale(1) translate(0);
        }

        50% {
            transform: scale(1) translate(0, -50px);
        }

        50.001% {
            transform: scale(5) translate(calc(-9px / 5), calc(-9px / 5));
        }

        75% {
            transform: scale(1) translate(0);
        }

        100% {
            transform: scale(1) translate(-50px, 0px);
        }
    }

    @keyframes rot {
        0% {
            transform: rotate(45deg);
        }

        12.5% {
            transform: rotate(45deg);
        }

        25% {
            transform: rotate(135deg);
        }

        37.5% {
            transform: rotate(135deg);
        }

        50% {
            transform: rotate(225deg);
        }

        62.5% {
            transform: rotate(225deg);
        }

        75% {
            transform: rotate(315deg);
        }

        87.5% {
            transform: rotate(315deg);
        }

        100% {
            transform: rotate(405deg);
        }
    }

    .g1 {
        transform-origin: 50% 50%;
        transform: rotate(45deg);
    }

    
}
