@import "../styles/theme";

#top-nav {
    height: 50px;
    max-height: 50px;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 111;

    .navbar-toggle-wrap {
        padding-top: 0.32rem;
        padding-bottom: 0.32rem;

        .navbar-toggler {
            border-color: transparent !important;
        }

        #navbar-toggle-collapse {
            position: absolute;
            z-index: 9;
            top: 49px;
            left: 0px;
            min-width: 120px;
            box-shadow: 3px 2px 3px rgba(0, 0, 0, 0.2);
            @include border-radius(0px 0px 4px); 
            animation: collapsing 0.2s ease-in-out;
            opacity: 0;

            .navbar-nav {
                a.nav-link {
                    padding-bottom: 3px;
                    text-transform: uppercase;
                    font-size: small;
                } 
            }

            &.show {
                opacity: 1;
            }
        }
    }

    a.toolbar-link {
        font-weight: 700 !important;
        background: linear-gradient(to right, $gray-500, $gray-500 50%, $white 50%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-size: 200% 100%;
        background-position: 100%;
        transition: background-position 250ms ease;
        text-decoration: none; // text decorations are clipped in WebKit browsers
        &:hover {
            background-position: 0 100%;
        }
    }

    a.router-link-active {
        opacity: 0.7;
        &.router-link-exact-active{
            opacity: 1;
        }
        &:hover {
            opacity: 1;
        }
    }

    @keyframes collapsing {
        from {
            opacity: 0;
        }

        to {
            opacity: 1;
        }
    }
}

.main-logo {
    #logo-icon {
        max-height: 50px;
    }

    #logo-text {
        &:link {
            color: #fff;
        }

        &:hover {
            color: #fff;
        }

        text-transform: uppercase;
        word-wrap: break-word;
        white-space: initial;
        max-width: 86px;
        line-height: 1em;
        color: #fff;
        font-weight: 700;
        font-size: 13px;
    }
}

.main-logo {
    text-transform: uppercase;
    font-weight: bold;
}

.div {
    position: fixed;
    left: 0;
    z-index: 10;

    .div-section-start {
        &.absolute {
            position: absolute;
            left: 0;
        }
    }
}
